@if (ViewData["MinYear"] != null)
{

    int dif = Convert.ToInt32(ViewData["MaxYear"]) - Convert.ToInt32(ViewData["MinYear"]);
    <br />
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Найстарший на курсі:</td>
                <td>@ViewData["Youngest"]</td>
                <td>Рік народженя: @ViewData["MinYear"]</td>
            </tr>
            <tr>
                <td>Наймолодший на курсі:</td>
                <td>@ViewData["Oldest"]</td>
                <td>Рік народження: @ViewData["MaxYear"]</td>
            </tr>
        </tbody>
    </table>
    <p>Віковий діапазон слухачів: @dif років.</p>
}