@using website.Models;
@using database.Models;
@model CourseStudentsModel
@{
    ViewData["Title"] = "Місця проживання";
}

<h2>Місця проживання учнів на курсі "@Model.CourseName"</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Місце проживання</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User student in Model.Students)
        {
            <tr>
                <td>@student.Location</td>
            </tr>
        }
    </tbody>
</table>

