@model ErrorViewModel
@{
    ViewData["Title"] = "Помилка";
}

<h1 class="text-danger" style="font-size:400%; text-align:center">Упс! Помилка</h1>
<div style="text-align:center">
    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Перейти на домашню сторінку</a>
</div>