@{
    ViewData["Title"] = "Головна сторінка";
}
<br>
<div class="panel panel-default">
    <div class="panel-heading">Матаналіз</div>
    <div class="panel-body">
        Річний курс від Тарасюка. Ласкаво просимо
        <button class="btn btn-success" style="float:right;">Подати заявку на курс</button>
        <br>
        <b>Викладач:</b> <span class="label label-primary">Тарасюк С.І.</span>
        <b style="margin-left:20px;">Записано на курс:</b> <span class="label label-success">122</span>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Матаналіз</div>
    <div class="panel-body">
        Річний курс від Тарасюка. Ласкаво просимо
        <button class="btn btn-success" style="float:right;">Подати заявку на курс</button>
        <br>
        <b>Викладач:</b> <span class="label label-primary">Тарасюк С.І.</span>
        <b style="margin-left:20px;">Записано на курс:</b> <span class="label label-success">122</span>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Матаналіз</div>
    <div class="panel-body">
        Річний курс від Тарасюка. Ласкаво просимо
        <button class="btn btn-success" style="float:right;">Подати заявку на курс</button>
        <br>
        <b>Викладач:</b> <span class="label label-primary">Тарасюк С.І.</span>
        <b style="margin-left:20px;">Записано на курс:</b> <span class="label label-success">122</span>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Матаналіз</div>
    <div class="panel-body">
        Річний курс від Тарасюка. Ласкаво просимо
        <button class="btn btn-success" style="float:right;">Подати заявку на курс</button>
        <br>
        <b>Викладач:</b> <span class="label label-primary">Тарасюк С.І.</span>
        <b style="margin-left:20px;">Записано на курс:</b> <span class="label label-success">122</span>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Матаналіз</div>
    <div class="panel-body">
        Річний курс від Тарасюка. Ласкаво просимо
        <button class="btn btn-success" style="float:right;">Подати заявку на курс</button>
        <br>
        <b>Викладач:</b> <span class="label label-primary">Тарасюк С.І.</span>
        <b style="margin-left:20px;">Записано на курс:</b> <span class="label label-success">122</span>
    </div>
</div>

