@{
    ViewData["Title"] = "Register";
}
@model database.Models.User

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Реєстрація</h4></div>
        <div class="panel-body">
            <form class="form-horizontal" asp-action="Register" method="post">
                
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="UserName">Ваш логін:</label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="UserName" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Password">Ваш пароль:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" asp-for="Password" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Name">Ваше ім'я та прізвище:</label>
                    <div class="col-sm-10">
                        <input class="form-control" asp-for="Name" />
                    </div>
                </div>
                <div style="text-align:center">
                    <button class="btn btn-success" type="submit">Зареєструватись</button>
                </div>
            </form>
        </div>
    </div>
    <div class="alert-info">
        @ViewBag.Info
    </div>
</body>
</html>

